/* Đặt font chữ chung và reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #fff;
    color: #333;
}

/* === HEADER === */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #D9D9D9;
    border-bottom: 1px solid #ddd;
    padding: 2px 30px 0px 30px;
    height: 56px;
    margin-bottom: 5px;
    /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); */
}


.navbar ul {
    display: flex;
    list-style: none;
    gap: 40px;
    padding: 0;
    margin: 0 0 0 -215px;
}

.navbar ul li {
    cursor: pointer;
    font-weight: 500;
    position: relative;
    font-size: 14;
    font-weight: 500;
}

.navbar ul li img {
    padding-top: 3px;
    width: 16px;
    height: 16px;
    margin-left: 5px;

}

.navbar ul li:hover {
    color: #e43d3d;
}

.search-user {
    display: flex;
    align-items: center;
    gap: 20px;
}

.search-box {
    display: flex;
    align-items: center;
    width: 252.5px;
    height: 30px;
    border-radius: 10px;
    background: #FFF;
    padding: 0 8px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}

.search-icon img {
    width: 25px;
    height: 25px;
    margin-top: 3px;
}

.notify-icon img {
    width: 25px;
    height: 25px;
}

.separator {
    width: 1px;
    height: 100%;
    background-color: black;
    margin: 0 8px;
}

.search-box input {
    border: none;
    outline: none;
    flex: 1;
    font-size: 14px;
    background: transparent;
}

.user {
    font-size: 14px;
    font-weight: 500;
}



/* === FOOTER === */
footer {
    margin-top: 80px;
    background-color: #D9D9D9;
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #333;
    height: 129px;
    ;
}

.footer-left,
.footer-center,
.footer-center2,
.footer-right {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.footer-center2 img {
    width: 132px;
    height: 48px;
    margin-top: 12px;
}

.footer-right .social-icons {
    display: flex;
    margin-top: 8px;
}

.footer-right img {
    width: 48px;
    height: 48px;
    cursor: pointer;
}

.social-icons img:hover {
    transform: scale(1.1);
}